/* Font settings. */
body {
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  background-color: #ffffff;
}

/* ALL pages. */
a:link {
  text-decoration: none;
  color: #4682b4;
}

a:visited {
  text-decoration: none;
  color: #4682b4;
}

a:hover {
  text-decoration: none;
  color: #87cefa;
}

a:active {
  text-decoration: blink;
  color: #ffd700;
}

div.topmenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  background-color: #ffffff;
}

div.topmenu div.topmenu-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 220px;
  border-radius: 0 0 15px 0;
  background-color: #696969;
}

div.topmenu div.topmenu-head img.name-logo {
  position: absolute;
  top: 35px;
  left: 50px;
  width: 280px;
  height: 150px;
  cursor: pointer;
}

div.topmenu div.topmenu-head div.overlay {
  position: absolute;
  top: 40px;
  left: 370px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #ffffff;
}

div.topmenu div.topmenu-head img.avatar {
  position: absolute;
  top: 50px;
  left: 380px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

div.topmenu div.topmenu-title {
  position: fixed;
  top: 0;
  left: 510px;
  right: 220px;
  height: 220px;
}

div.topmenu div.topmenu-title div.title-icon {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 110px;
  text-align: center;
}

div.topmenu div.topmenu-title div.title-icon img {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 35%;
  right: 35%;
  width: 30%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

div.topmenu div.topmenu-title div.title-name {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  color: #484848;
  text-align: center;
  vertical-align: middle;
}

div.topmenu button.topmenu-nav {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 140px;
  height: 140px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: #808080;
  cursor: pointer;
  transition: 0.3s;
}

div.topmenu button.topmenu-nav img {
  position: absolute;
  top: 22%;
  left: 22%;
  width: 56%;
  height: 56%;
}

div.topmenu button.topmenu-nav.active {
  background-color: #696969;
}

div.nav-toggle {
  position: fixed;
  top: 220px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: -2;
  background-color: #ffffff;
  transition: max-height 0.2s ease-out;
}

div.nav-toggle div.up-triangle {
  position: absolute;
  top: 0;
  right: 90px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #f0f0f0;
}

div.nav-toggle ul {
  padding: 0;
  margin: 0;
  margin-top: 24px;
  margin-left: 2%; 
  width: 96%;
  border-radius: 15px 15px 15px 15px;
  background-color: #f0f0f0;
}

div.nav-toggle ul li {
  list-style: none;
  width: 100%;
  height: 100px;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: center;
  color: #363636;
  cursor: pointer;
  transition: 0.2s;
}

div.nav-toggle ul li div.icon {
  width: 100px;
  height: 100px;
  text-align: center;
  float: left;
}

div.nav-toggle ul li div.icon img {
  position: relative;
  top: 20px;
  width: 60px;
  height: 60px;
}

div.nav-toggle ul li div.name {
  height: 100px;
  line-height: 100px;
  font-size: 32px;
  font-weight: bold;
}

div.content-main {
  position: fixed;
  top: 250px;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
  z-index: -1;
  transition: 0.2s;
  background-color: #ffffff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

footer div.findme {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 60px;
}

footer div.findme table {
  width: 70%;
  height: 100%;
  margin: auto;
}

footer div.findme table a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 6px;
  opacity: 0.9;
  transition: 0.2s;
}

footer div.findme table a.weibo {
  background: url("../icon/weibo.png") center no-repeat #ffa500;
}

footer div.findme table a.douban {
  background: url("../icon/douban.png") center no-repeat #008000;
}

footer div.findme table a.github {
  background: url("../icon/github.png") center no-repeat #808080;
}

footer div.findme table a.zhihu {
  background: url("../icon/zhihu.png") center no-repeat #1e90ff;
}

footer div.findme table a.linkedin {
  background: url("../icon/linkedin.png") center no-repeat #191970;
}

footer div.findme table a.facebook {
  background: url("../icon/facebook.png") center no-repeat #6495ed;
}

footer div.timestamp {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 40px;
  padding-top: 7px;
  border-radius: 15px 0 0 0;
  background-color: #696969;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

footer div.timestamp a {
  color: #ffffff;
}

div.section-head {
  height: 45px;
  padding-top: 12px;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #484848;
  vertical-align: middle;
}

div.section-head div.section-icon {
  width: 45px;
  height: 45px;
  padding-left: 10px;
  float: left;
}

div.section-head div.section-icon img {
  width: auto;
  height: auto;
  max-height: 45px;
}

div.section-head div.section-title {
  height: 45px;
  padding-left: 10px;
  line-height: 45px;
  float: left;
}

div.section-body {
  padding: 20px;
  font-size: 25px;
  line-height: 160%;
}

/* For index.html. */
#cv {
  position: absolute;
  left: 4%;
  width: 92%;
  height: 100%;
  color: #2d2d2d;
}

#cv #cv-head {
  height: 190px;
}

#cv #cv-head #py-name {
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  height: 50px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

#cv #cv-head #chn-name {
  position: absolute;
  top: 50px;
  left: 20%;
  width: 60%;
  height: 70px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

#cv #cv-head #major {
  position: absolute;
  top: 120px;
  left: 20%;
  width: 60%;
  height: 35px;
  font-size: 26px;
  text-align: center;
}

#cv #cv-head #school {
  position: absolute;
  top: 155px;
  left: 20%;
  width: 60%;
  height: 35px;
  font-size: 26px;
  text-align: center;
}

#cv #cv-head #pdf-button {
  position: absolute;
  top: 75px;
  left: 10px;
  width: 110px;
  height: 65px;
  box-shadow: 2px 2px 5px #d3d3d3;
  border-radius: 12px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 65px;
  background-color: #ffebee;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
}

#cv #cv-head #ha-index {
  position: absolute;
  top: 155px;
  left: 12px;
  font-size: 26px;
}

#cv #cv-head #photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 185px;
}

#cv #cv-head #photo img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding-right: 10px;
}

#cv #cv-contacts table th {
  padding-right: 20px;
  font-size: 27px;
  text-align: left;
  vertical-align: middle;
}

#cv #cv-contacts table td {
  font-size: 25px;
  text-align: left;
  vertical-align: middle;
}

#cv #cv-skills table {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}

#cv #cv-skills table td {
  padding-left: 25px;
}

#cv #cv-skills table #programming-languages {
  font-family: monospace;
  font-weight: bold;
}

#cv #cv-links table {
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
}

#cv #cv-links table td {
  padding-left: 25px;
}

#cv #cv-links table img {
  width: auto;
  height: auto;
  max-height: 90px;
  cursor: pointer;
}

/* For notes.html. */
#notes {
  position: absolute;
  left: 4%;
  width: 92%;
}

#notes table.notes-table {
  width: 100%;
}

#notes table.notes-table td.course {
  width: 50%;
  box-shadow: 5px 5px 10px #d3d3d3;
  border-radius: 12px;
  vertical-align: top;
  background-color: #f5f5f5;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
}

#notes table.notes-table td div.name {
  width: 80%;
  text-align: left;
  float: left;
}

#notes table.notes-table td div.name h1 {
  font-size: 26px;
  padding-left: 5%;
}

#notes table.notes-table td div.icon {
  width: 20%;
  height: 90px;
  text-align: center;
  float: right;
}

#notes table.notes-table td div.icon img {
  padding-top: 15px;
  max-width: 95%;
  max-height: 60px;
}

/* For resources.html. */
#resources {
  position: absolute;
  left: 4%;
  width: 92%;
  height: 100%;
}

#resources #file-server {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
}

#resources #file-server #file-parent {
  height: 740px;
  text-align: center;
}

#resources #announcements {
  position: absolute;
  top: 800px;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

/* For blogs.html. */
#blogs {
  position: absolute;
  left: 4%;
  width: 92%;
}

#blogs table.blogs-table {
  width: 100%;
}

#blogs table.blogs-table td {
  width: 100%;
  box-shadow: 5px 5px 10px #d3d3d3;
  border-radius: 12px;
  vertical-align: middle;
  background-color: #f5f5f5;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
}

#blogs table.blogs-table td div.index {
  width: 10%;
  text-align: center;
  float: left;
}

#blogs table.blogs-table td div.index h1 {
  font-size: 28px;
  font-family: monospace;
  padding-top: 10px;
  padding-left: 40px;
}

#blogs table.blogs-table td div.name {
  width: 60%;
  text-align: left;
  float: left;
}

#blogs table.blogs-table td div.name h1 {
  text-align: left;
  font-size: 26px;
  padding-left: 40px;
}

#blogs table.blogs-table td div.source {
  width: 30%;
  text-align: center;
  float: right;
}

#blogs table.blogs-table td div.source h1 {
  padding-top: 5px;
  font-family: monospace;
  font-size: 22px;
  text-align: center;
  opacity: 0.9;
}

#blogs table.blogs-table td div.source img {
  width: 80px;
}

#blogs table.blogs-table #dots-row {
  height: 20px;
  box-shadow: 0 0 0 #ffffff;
  text-align: center;
  background-color: #ffffff;
}

#blogs table.blogs-table #dots {
  font-size: 30px;
  color: #696969;
}

/* Error page. */
#under-maintain {
  color: #9370db;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  opacity: 0.7;
}

/* For course note page. */
div.course-topmenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 180px;
  background-color: #ffffff;
}

div.course-topmenu div.course-icon {
  position: fixed;
  top: 20px;
  left: 0;
  width: 300px;
  height: 150px;
}

div.course-topmenu div.course-icon img {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

div.course-topmenu div.course-announcement {
  position: fixed;
  top: 50px;
  left: 300px;
  right: 300px;
  line-height: 45px;
  text-align: center;
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 28px;
  color: #505050;
}

div.course-topmenu div.course-pdf {
  position: fixed;
  top: 30px;
  right: 60px;
  width: 130px;
  height: 70px;
  box-shadow: 2px 2px 5px #d3d3d3;
  border-radius: 12px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 70px;
  background-color: #ffebee;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
}

div.course-topmenu button.course-attention {
  position: fixed;
  top: 120px;
  right: 100px;
  width: 50px;
  height: 45px;
  border: 0;
  outline: 0;
  text-align: center;
  background-color: #ffffff;
}

div.course-topmenu button.course-attention img {
  width: auto;
  height: 100%;
  cursor: pointer;
  transition: 0.2s;
}


div.attention-toggle {
  position: fixed;
  top: 180px;
  right: 0;
  width: 60%;
  text-align: center;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 24px;
  display: none;
  z-index: 1;
  transition: 0.1s;
}

div.attention-toggle div.up-triangle {
  position: absolute;
  top: 0;
  right: 105px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #f0f0f0;
}

div.attention-toggle div.attention-words {
  width: 90%;
  margin-top: 25px;
  padding: 15px;
  color: #363636;
  border-radius: 15px 15px 15px 15px;
  background-color: #f0f0f0;
}

div.course-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  box-shadow: 2px 2px 5px #d3d3d3;
  line-height: 37px;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  border-radius: 12px;
  background-color: #f0f0f0;
  z-index: 100;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.2s;
}

button.trigger {
  position: fixed;
  top: 560px;
  right: -90px;
  width: 150px;
  height: 150px;
  border: solid 3px #d0d0d0;
  outline: 0;
  border-radius: 50%;
  z-index: 100;
  background-color: #e0e0e0;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}

button.trigger.active {
  background-color: #d6d6d6;
}

button.trigger img {
  position: absolute;
  top: 35%;
  left: 7%;
  right: 65%;
  width: 28%;
  height: 30%;
}

div.bookmark {
  position: fixed;
  top: 230px;
  bottom: 50px;
  right: -500px;
  width: 500px;
  z-index: 100;
  border-top: 3px solid #d0d0d0;
  border-bottom: 3px solid #d0d0d0;
  border-left: 3px solid #d0d0d0;
  border-radius: 15px 0 0 15px;
  overflow: auto;
  text-align: left;
  background-color: #ffffff;
  transition: 0.3s;
}

div.bookmark div.accordian {
  width: 485px;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.bookmark div.accordian button.unfold {
  width: 100%;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px 14px 5px 14px;
  border: solid 3px #ffffff;
  outline: 0;
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  border-radius: 12px;
  background-color: #f2f2f2;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}

div.bookmark div.accordian button.unfold.active {
  background-color: #d8d8d8;
}

div.bookmark div.accordian div.toggle {
  max-height: 0;
  padding-left: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

div.bookmark div.accordian div.toggle ol {
  padding-left: 40px;
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 24px;
  color: #505050;
}

div.bookmark div.accordian div.toggle ol li {
  padding: 5px 10px 5px 10px;
  border: solid 6px #ffffff;
  border-radius: 12px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: 0.3s;
}

div.note-body {
  position: absolute;
  top: 180px;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
