/* Font settings. */
body {
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  background-color: #ffffff;
}


/**
 *
 * For all pages.
 * 
 */

/** Hyperlink style. */
a:link {
  text-decoration: none;
  color: #4682b4;
}

a:visited {
  text-decoration: none;
  color: #4682b4;
}

a:hover {
  text-decoration: none;
  color: #87cefa;
}

a:active {
  text-decoration: blink;
  color: #ffd700;
}

/** Topmenu & Main content region. */
.topmenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

.topmenu .topmenu-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 80%;
  border-radius: 0 0 15px 0;
  background-color: #696969;
}

.topmenu .topmenu-head img.name-logo {
  position: absolute;
  top: 18%;
  left: 12%;
  width: 64%;
  height: 64%;
  cursor: pointer;
}

.topmenu .topmenu-head .overlay {
  position: absolute;
  top: 19%;
  left: 86%;
  width: 32%;
  height: 62%;
  border-radius: 50%;
  background-color: #ffffff;
}

.topmenu .topmenu-head img.avatar {
  position: absolute;
  top: 16%;
  left: 86%;
  width: 32%;
  height: 64%;
  border-radius: 50%;
}

.topmenu .topmenu-title {
  position: absolute;
  top: 0;
  left: 180px;
  right: 70px;
  height: 100%;
}

.topmenu .topmenu-title .title-icon {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 40%;
  text-align: center;
}

.topmenu .topmenu-title .title-icon img {
  width: auto;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topmenu .topmenu-title .title-name {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 56%;
  font-size: 18px;
  font-weight: bold;
  color: #484848;
  text-align: center;
}

.topmenu button.topmenu-nav {
  position: fixed;
  top: 7px;
  right: 7px;
  width: 66px;
  height: 66px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background-color: #808080;
  cursor: pointer;
  transition: 0.3s;
}

.topmenu button.topmenu-nav img {
  position: absolute;
  top: 22%;
  left: 22%;
  width: 56%;
  height: 56%;
}

.topmenu button.topmenu-nav.active {
  background-color: #696969;
}

.nav-toggle {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: -2;
  background-color: #ffffff;
  transition: max-height 0.2s ease-out;
}

.nav-toggle .up-triangle {
  position: absolute;
  top: 0;
  right: 26px;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 21px solid #f0f0f0;
}

.nav-toggle ul {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-left: 2%; 
  width: 96%;
  border-radius: 15px 15px 15px 15px;
  background-color: #f0f0f0;
}

.nav-toggle ul li {
  list-style: none;
  width: 100%;
  height: 50px;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: center;
  color: #363636;
  cursor: pointer;
  transition: 0.2s;
}

.nav-toggle ul li:active {
  text-decoration: blink;
  background-color: #ffd700;
}

.nav-toggle ul li .icon {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
}

.nav-toggle ul li .icon img {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 74%;
  height: 74%;
}

.nav-toggle ul li .name {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}

.content-main {
  position: fixed;
  top: 110px;
  bottom: 36px;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
  z-index: -1;
  transition: 0.2s;
  background-color: #ffffff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 22px;
  background-color: #ffffff;
}

footer .findme {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 160px;
  width: 180px;
  height: 100%;
}

footer .findme table {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  margin: auto;
}

footer .findme table a {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.9;
  transition: 0.2s;
}

footer .findme table a.weibo {
  background: url("../icon/weibo.png") center no-repeat #ffa500;
}

footer .findme table a.douban {
  background: url("../icon/douban.png") center no-repeat #008000;
}

footer .findme table a.github {
  background: url("../icon/github.png") center no-repeat #808080;
}

footer .findme table a.zhihu {
  background: url("../icon/zhihu.png") center no-repeat #1e90ff;
}

footer .findme table a.linkedin {
  background: url("../icon/linkedin.png") center no-repeat #191970;
}

footer .findme table a.facebook {
  background: url("../icon/facebook.png") center no-repeat #6495ed;
}

footer .timestamp {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 160px;
  height: 22px;
  padding-top: 2px;
  border-radius: 15px 0 0 0;
  background-color: #696969;
  text-align: center;
  font-family: monospace;
  font-size: 12px;
}

footer .timestamp a {
  color: #ffffff;
  vertical-align: middle;
}

.section-head {
  height: 20px;
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #484848;
}

.section-head .section-icon {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  float: left;
  vertical-align: middle;
}

.section-head .section-icon img {
  width: auto;
  height: auto;
  max-height: 100%;
}

.section-head .section-title {
  height: 20px;
  padding-left: 8px;
  line-height: 20px;
  float: left;
  vertical-align: middle;
}

.section-body {
  padding: 6px;
  font-size: 16px;
  line-height: 160%;
}


/**
 *
 * For index.html.
 * 
 */
#cv {
  position: absolute;
  left: 4%;
  width: 92%;
  height: 100%;
  color: #2d2d2d;
}

#cv #cv-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  margin-top: 10px;
}

#cv #cv-head #py-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

#cv #cv-head #chn-name {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 25px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#cv #cv-head #pdf-button {
  position: absolute;
  top: 50px;
  left: 8px;
  width: 60px;
  height: 32px;
  box-shadow: 2px 2px 5px #d3d3d3;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  background-color: #ffebee;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

#cv #cv-head #pdf-button:hover {
  box-shadow: 5px 5px 8px #d3d3d3;
  background-color: #fbe9e7;
  opacity: 1;
}

#cv #cv-head #ha-index {
  position: absolute;
  top: 95px;
  left: 8px;
  font-size: 18px;
}

#cv #cv-head #photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 24%;
  height: 100%;
}

#cv #cv-head #photo img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding-right: 6px;
}

#cv #cv-introduction {
  position: relative;   /* Make 130px room for #cv-head. */
  top: 130px;
}

#cv #cv-introduction p {
  position: relative;
  top: -8px;
}

#cv #cv-introduction a.more-button {
  text-decoration: none;
  color: #4682b4;
  cursor: pointer;
}

#cv #cv-introduction a.more-button:hover {
  text-decoration: none;
  color: #87cefa;
  cursor: pointer;
}

#cv #cv-skills {
  position: relative;   /* Make 130px room for #cv-head, then shrink 10px for first p of intro. */
  top: 120px;
}

#cv #cv-skills table {
  text-align: center;
}

#cv #cv-skills table td {
  vertical-align: middle;
}

#cv #cv-skills table tr#programming-languages {
  font-family: monospace;
  font-weight: bold;
}

#cv #cv-skills #knowledge-graph {
  text-align: center;
  width: 98%;
}

#cv #cv-skills #knowledge-graph img {
  vertical-align: middle;
  width: 100%;
  padding-bottom: 5px;
}

#cv #cv-contacts {
  position: relative;   /* Make 130px room for #cv-head, then shrink 10px for first p of intro. */
  top: 120px;
}

#cv #cv-contacts table th {
  padding-right: 20px;
  text-align: left;
  vertical-align: middle;
}

#cv #cv-contacts table td {
  text-align: left;
  vertical-align: middle;
}

#cv #cv-links {
  position: relative;   /* Make 130px room for #cv-head, then shrink 10px for first p of intro. */
  top: 120px;
  margin-bottom: 10px;
}

#cv #cv-links #links-logo-area {
  padding-top: 8px;
  text-align: center;
}

#cv #cv-links #links-logo-area img {
  width: auto;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

#cv #cv-links #links-logo-area img#LION-logo {
  width: 32%;
}

#cv #cv-links #links-logo-area img#AnalySys-logo {
  width: 40%;
}


/**
 *
 * For notes.html.
 * 
 */
#notes {
  position: absolute;
  left: 4%;
  width: 92%;
}

#notes table.notes-table {
  width: 100%;
}

#notes table.notes-table td.course {
  width: 50%;
  box-shadow: 5px 5px 10px #d3d3d3;
  border-radius: 12px;
  vertical-align: top;
  background-color: #f5f5f5;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
}

#notes table.notes-table td .name {
  width: 80%;
  text-align: left;
  float: left;
  line-height: 120%;
}

#notes table.notes-table td .name h1 {
  font-size: 15px;
  padding-left: 5%;
}

#notes table.notes-table td .icon {
  width: 20%;
  height: 80px;
  text-align: center;
  float: right;
}

#notes table.notes-table td .icon img {
  padding-top: 15px;
  max-width: 95%;
  max-height: 60px;
}


/**
 *
 * For blogs.html.
 * 
 */
#blogs {
  position: absolute;
  left: 4%;
  width: 92%;
}

#blogs table.blogs-table {
  width: 100%;
}

#blogs table.blogs-table td {
  width: 100%;
  box-shadow: 5px 5px 10px #d3d3d3;
  border-radius: 12px;
  vertical-align: middle;
  background-color: #f5f5f5;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.2s;
}

#blogs table.blogs-table td .index {
  width: 5%;
  text-align: center;
  float: left;
}

#blogs table.blogs-table td .index h1 {
  font-size: 18px;
  font-family: monospace;
  padding-top: 10px;
  padding-left: 10px;
}

#blogs table.blogs-table td .name {
  width: 92%;
  text-align: left;
  float: left;
  line-height: 120%;
}

#blogs table.blogs-table td .name h1 {
  text-align: left;
  font-size: 15px;
  padding-left: 20px;
}

#blogs table.blogs-table #dots-row {
  height: 10px;
  box-shadow: 0 0 0 #ffffff;
  text-align: center;
  background-color: #ffffff;
  line-height: 10px;
}

#blogs table.blogs-table #dots {
  font-size: 18px;
  color: #696969;
}


/**
 *
 * For error page.
 * 
 */
#under-maintain {
  color: #9370db;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  opacity: 0.7;
}
