/* Font settings. */
body {
  font-family: "Times New Roman", Times, serif, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "黑体", "Microsoft YaHei", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei";
  background-color: #ffffff;
}


/**
 *
 * For all pages.
 * 
 */

/** Hyperlink style. */
a:link {
  text-decoration: none;
  color: #4682b4;
}

a:visited {
  text-decoration: none;
  color: #4682b4;
}

a:hover {
  text-decoration: none;
  color: #87cefa;
}

a:active {
  text-decoration: blink;
  color: #ffd700;
}

/** Sidemenu & Main content region. */
.sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
}

.sidemenu .sidemenu-head {
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
  width: 100%;
  border-radius: 0 0 15px 0;
  background-color: #696969;
}

.sidemenu .sidemenu-head img.name-logo {
  position: absolute;
  top: 10%;
  left: 14%;
  height: 44%;
  width: 72%;
  cursor: pointer;
}

.sidemenu .sidemenu-head .overlay {
  position: absolute;
  top: 62.5%;
  left: 23%;
  width: 54%;
  height: 75%;
  border-radius: 50%;
  background-color: #ffffff;
}

.sidemenu .sidemenu-head img.avatar {
  position: absolute;
  top: 65%;
  left: 28%;
  width: 44%;
  height: 62%;
  border-radius: 50%;
}

.sidemenu .sidemenu-info {
  position: absolute;
  top: 210px;
  left: 0;
  width: 100%;
  height: 120px;
}

.sidemenu .sidemenu-info table {
  margin: auto;
}

.sidemenu .sidemenu-info table th.eng-name {
  text-align: center;
  font-size: 30px;
  color: #1f618d;
}

.sidemenu .sidemenu-info table th.chn-name {
  text-align: center;
  font-size: 20px;
  color: #1f618d;
}

.sidemenu .sidemenu-info table td {
  padding-top: 12px;
  text-align: center;
  font-size: 18px;
  color: #808080;
}

.sidemenu .sidemenu-nav {
  position: absolute;
  top: 340px;
  bottom: 80px;
  left: 0;
  width: 100%;
}

.sidemenu .sidemenu-nav table {
  border-style: none;
  border-width: 0;
  width: 100%;
  vertical-align: middle;
}

.sidemenu .sidemenu-nav table td {
  padding: 4px;
  text-align: left;
  vertical-align: middle;
  font-size: 19px;
  color: #1f618d;
}

.sidemenu .sidemenu-nav table td.fill {
  width: 10%;
}

.sidemenu .sidemenu-nav table td.word {
  width: 80%;
  padding-left: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.sidemenu .sidemenu-nav table td.word:hover {
  background-color: #fff8dc;
}

.sidemenu .sidemenu-nav table td.arrow {
  width: 25px;
}

.sidemenu .sidemenu-nav table img {
  width: 15px;
  height: 20px;
  text-align: right;
  vertical-align: middle;
  float: right;
}

.sidemenu .sidemenu-find {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
}

.sidemenu .sidemenu-find table {
  width: 80%;
  margin: auto;
}

.sidemenu .sidemenu-find table a {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 6px;
  opacity: 0.7;
  transition: 0.2s;
}

.sidemenu .sidemenu-find table a.weibo {
  background: url("../icon/weibo.png") center no-repeat #ffa500;
}

.sidemenu .sidemenu-find table a.douban {
  background: url("../icon/douban.png") center no-repeat #008000;
}

.sidemenu .sidemenu-find table a.github {
  background: url("../icon/github.png") center no-repeat #808080;
}

.sidemenu .sidemenu-find table a.zhihu {
  background: url("../icon/zhihu.png") center no-repeat #1e90ff;
}

.sidemenu .sidemenu-find table a.linkedin {
  background: url("../icon/linkedin.png") center no-repeat #191970;
}

.sidemenu .sidemenu-find table a.facebook {
  background: url("../icon/facebook.png") center no-repeat #6495ed;
}

.sidemenu .sidemenu-find table a:hover {
  opacity: 1;
}

.content-head {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 85px;
  text-align: center;
  background-color: #ffffff;
}

.content-head img {
  padding-top: 15px;
  height: 50px;
}

.content-main {
  position: absolute;
  top: 85px;
  bottom: 15px;
  left: 220px;
  right: 0;
  z-index: -1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 30px;
  border-radius: 0 15px 0 0;
  background-color: #696969;
}

footer .timestamp {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  text-align: center;
  padding-top: 2px;
  font-family: monospace;
}

footer .timestamp a {
  color: #ffffff;
}

footer .timestamp a:hover {
  color: #e8e8e8;
}

/** Section header & body. */
.section-head {
  height: 30px;
  padding-top: 12px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #484848;
}

.section-head .section-icon {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  float: left;
  vertical-align: middle;
}

.section-head .section-icon img {
  width: auto;
  height: auto;
  max-height: 30px;
}

.section-head .section-title {
  height: 25px;
  padding-left: 10px;
  line-height: 30px;
  float: left;
  vertical-align: middle;
}

.section-body {
  padding: 10px;
  font-size: 19px;
  line-height: 160%;
}


/**
 *
 * For index.html.
 * 
 */
#cv {
  position: absolute;
  left: 4%;
  width: 92%;
  height: 100%;
  color: #2d2d2d;
}

#cv #cv-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

#cv #cv-head #py-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#cv #cv-head #chn-name {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#cv #cv-head #major {
  position: absolute;
  top: 90px;
  left: 20%;
  width: 60%;
  height: 30px;
  font-size: 1.2vw;
  text-align: center;
}

#cv #cv-head #school {
  position: absolute;
  top: 120px;
  left: 20%;
  width: 60%;
  height: 30px;
  font-size: 1.2vw;
  text-align: center;
}

#cv #cv-head #pdf-button {
  position: absolute;
  top: 55px;
  left: 10px;
  width: 80px;
  height: 45px;
  box-shadow: 2px 2px 5px #d3d3d3;
  border-radius: 12px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 45px;
  background-color: #ffebee;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

#cv #cv-head #pdf-button:hover {
  box-shadow: 5px 5px 8px #d3d3d3;
  background-color: #fbe9e7;
  opacity: 1;
}

#cv #cv-head #ha-index {
  position: absolute;
  top: 118px;
  left: 12px;
  font-size: 20px;
}

#cv #cv-head #photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}

#cv #cv-head #photo img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding-right: 10px;
}

#cv #cv-introduction {
  position: relative;   /* Make 150px room for #cv-head. */
  top: 150px;
}

#cv #cv-introduction a.more-button {
  text-decoration: none;
  color: #4682b4;
  cursor: pointer;
}

#cv #cv-introduction a.more-button:hover {
  text-decoration: none;
  color: #87cefa;
  cursor: pointer;
}

#cv #cv-skills {
  position: relative;   /* Make 150px room for #cv-head. */
  top: 150px;
}

#cv #cv-skills table {
  text-align: center;
}

#cv #cv-skills table td {
  vertical-align: middle;
}

#cv #cv-skills table tr#programming-languages {
  font-family: monospace;
  font-weight: bold;
}

#cv #cv-contacts {
  position: relative;   /* Make 150px room for #cv-head. */
  top: 150px;
}

#cv #cv-contacts table th {
  padding-right: 20px;
  text-align: left;
  vertical-align: middle;
}

#cv #cv-contacts table td {
  text-align: left;
  vertical-align: middle;
}

#cv #cv-links {
  position: relative;   /* Make 150px room for #cv-head. */
  top: 150px;
  margin-bottom: 20px;
}

#cv #cv-links #links-logo-area {
  text-align: center;
}

#cv #cv-links #links-logo-area img {
  width: auto;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

#cv #cv-links #links-logo-area img#LION-logo {
  width: 18%;
}

#cv #cv-links #links-logo-area img#AnalySys-logo {
  width: 24%;
}


/**
 *
 * For notes.html.
 * 
 */
#notes {
  position: absolute;
  left: 4%;
  width: 92%;
}

#notes table.notes-table {
  width: 100%;
}

#notes table.notes-table td.course {
  width: 50%;
  box-shadow: 5px 5px 10px #d3d3d3;
  border-radius: 12px;
  vertical-align: top;
  background-color: #f5f5f5;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

#notes table.notes-table td.course:hover {
  box-shadow: 8px 8px 10px #d3d3d3;
  background-color: #f0f0f0;
  opacity: 1;
}

#notes table.notes-table td .name {
  width: 80%;
  text-align: left;
  float: left;
  line-height: 120%;
}

#notes table.notes-table td .name h1 {
  font-size: 21px;
  padding-left: 5%;
}

#notes table.notes-table td .icon {
  width: 20%;
  height: 80px;
  text-align: center;
  float: right;
}

#notes table.notes-table td .icon img {
  padding-top: 15px;
  max-width: 85%;
  max-height: 60px;
}


/**
 *
 * For blogs.html.
 * 
 */
#blogs {
  position: absolute;
  left: 4%;
  width: 92%;
}

#blogs table.blogs-table {
  width: 100%;
}

#blogs table.blogs-table td {
  width: 100%;
  box-shadow: 5px 5px 10px #d3d3d3;
  border-radius: 12px;
  vertical-align: middle;
  background-color: #f5f5f5;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
}

#blogs table.blogs-table td:hover {
  box-shadow: 8px 8px 10px #d3d3d3;
  background-color: #f0f0f0;
  opacity: 1;
}

#blogs table.blogs-table td .index {
  width: 10%;
  text-align: center;
  float: left;
}

#blogs table.blogs-table td .index h1 {
  font-size: 26px;
  font-family: monospace;
  padding-top: 10px;
  padding-left: 40px;
}

#blogs table.blogs-table td .name {
  width: 85%;
  text-align: left;
  float: left;
  line-height: 120%;
}

#blogs table.blogs-table td .name h1 {
  text-align: left;
  font-size: 20px;
  padding-left: 40px;
}

#blogs table.blogs-table #dots-row {
  height: 18px;
  box-shadow: 0 0 0 #ffffff;
  text-align: center;
  background-color: #ffffff;
  line-height: 18px;
}

#blogs table.blogs-table #dots {
  font-size: 24px;
  color: #696969;
}


/**
 *
 * For error page.
 * 
 */
#under-maintain {
  color: #9370db;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  opacity: 0.7;
}
